/* Universal selector */
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
body {
background-color: white;
font-family: "Inter", sans-serif ;
}


.inter {
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-style: normal;
}

/* My common class */
.container {
max-width: 1350px;
margin: auto;
}
.my-btn {
    font-family:"Inter", sans-serif ;
border-radius: 4px;
padding: 12px 16px;
font-weight: 600;
border: 1px solid #006a50;
color: #ffffff;
background-color:rgba(70, 145, 101, 1);
font-size: 16px;
}
header {
/* background: rgba(198, 228, 214, 1); */
margin-bottom: 20px;
}
nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 0;
}

.link-parent {
display: flex;
gap: 22px;
list-style: none;
}
.link-parent a {
font-style: 16px;
color: rgb(0, 0, 0, 1);
font-family: "Inter", sans-serif;
text-decoration: none;
}



