/* Universal selector */
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
body {
background-color: white;
font-family: "Inter", sans-serif ;
}


.inter {
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-style: normal;
}

/* My common class */
.container {
max-width: 1350px;
margin: auto;
}
.my-btn {
    font-family:"Inter", sans-serif ;
border-radius: 4px;
padding: 12px 16px;
font-weight: 600;
border: 1px solid #006a50;
color: #ffffff;
background-color:rgba(70, 145, 101, 1);
font-size: 16px;
}
header {
/* background: rgba(198, 228, 214, 1); */
margin-bottom: 20px;
}
nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 0;
}

.link-parent {
display: flex;
gap: 22px;
list-style: none;
}
.link-parent a {
font-style: 16px;
color: rgb(0, 0, 0, 1);
font-family: "Inter", sans-serif;
text-decoration: none;
}



#hero{
background: url(img/hero-bg.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 100px;
}
.hero-contant{
    margin: a;
}
.hero-1{
margin: auto;
width: 229px;
height: 35px;
border-radius: 1000px;
background: #ffffff;
padding: 8px 12px;
}

.hero-contant h1{
font-family: "Inter", sans-serif ;
font-style: Bold;
font-size: 72px;
font-weight: 700;
line-height: 84px;
text-align: center;
text-transform: uppercase;
color: white;
padding: 20px;
}

.hero-contant h1 span{
    color: rgba(48, 184, 104, 1);
}
.hero-contant p{
    text-align: center;
    color: rgb(255, 255, 255, 1);
    font-family: "Inter", sans-serif ;
font-size: 18px;
font-weight: 400;
line-height: 24px;
padding-bottom: 20px;

}
.hero-button{
display: flex;
justify-content: center;
align-items: center;
gap: 16px;
padding: 12px 16px;
}
.hero-contant button{
color: rgba(255, 255, 255, 1);
font-style: Bold;
font-size: 16px;
font-weight: 600;
line-height: 19px;

}
.hero-button-1{
color: rgba(255, 255, 255, 1);
font-style: Bold;
font-size: 16px;
font-weight: 600;
line-height: 19px; 
background: none;
padding: 12px 16px;
border: 1px solid white;
}





.not-section {
text-align: center;
padding: 44px 0;
font-family: "Inter", sans-serif;
max-width: 1350px;
margin: auto;
}

.not-section h1 {
font-size: 48px;
font-weight: 700;
color: #0e2d4c;
margin-bottom: 12px;
}

.not-section .subtitle {
color: #5b6c7f;
font-size: 16px;
margin-bottom: 50px;
}

