* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
body {
background-color: white;
font-family: "Inter", sans-serif ;
}


.inter {
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-style: normal;
}

/* My common class */
.container {
max-width: 1600px;
margin: auto;
}
/* button:hover */
.all-hover:hover{
background-color: #e17055;
color: black;
border: none;
border-radius: 50px;
}




.my-btn {
border-radius: 4px;
padding: 12px 16px;
font-weight: 600;
border: 1px solid #006a50;
color: #ffffff;
background-color:rgba(70, 145, 101, 1);
font-size: 16px;
}
header {
/* background: rgba(198, 228, 214, 1); */
margin-bottom: 20px;
}
nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 0;
}

.link-parent {
display: flex;
gap: 22px;
list-style: none;
}
.link-parent a {
font-style: 16px;
color: rgb(0, 0, 0, 1);
text-decoration: none;
}



#hero{
background: url(img/hero-bg.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 100px;
}
.hero-contant{
    margin: a;
}
.hero-1{
margin: auto;
width: 229px;
height: 35px;
border-radius: 1000px;
background: #ffffff;
padding: 8px 12px;
}

.hero-contant h1{
font-size: 72px;
font-weight: 700;
line-height: 84px;
text-align: center;
text-transform: uppercase;
color: white;
padding: 20px;
}

.hero-contant h1 span{
    color: rgba(48, 184, 104, 1);
}
.hero-contant p{
    text-align: center;
    color: rgb(255, 255, 255, 1);
font-size: 18px;
font-weight: 400;
line-height: 24px;
padding-bottom: 20px;

}
.hero-button{
display: flex;
justify-content: center;
align-items: center;
gap: 16px;
padding: 12px 16px;
}
.hero-contant button{
color: rgba(255, 255, 255, 1);
font-style: Bold;
font-size: 16px;
font-weight: 600;
line-height: 19px;
}
.my-btn i{
    color: #ffffff;
}
.hero-button-1{
color: rgba(255, 255, 255, 1);
font-style: Bold;
font-size: 16px;
font-weight: 600;
line-height: 19px; 
background: none;
padding: 12px 16px;
border: 1px solid white;
}
.hero-button-1 i{
    color: #ffffffa1;
}





.not-section {
text-align: center;
padding: 44px 0;
max-width: 1600px;
margin: auto;
}

.not-section h1 {
font-size: 48px;
font-weight: 700;
color: #0e2d4c;
margin-bottom: 12px;
}

.not-section .subtitle {
color: #5b6c7f;
font-size: 16px;
margin-bottom: 50px;
}

.cards {
display: flex;
justify-content: space-between;
gap: 24px;
}

.card {
background: white;
border: 1px solid #dfe7ef;
border-radius: 12px;
padding: 32px 20px;
text-align: center;
}
.card .img{
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px auto;
}
.card .img img{
    width: 32px;
    height: 32px;
}
.card h3 {
font-size: 24px;
font-weight: 600;
color: #0e2d4c;
margin-bottom: 12px;
}

.card p {
color: #5b6c7f;
font-size: 16px;
}








#Second-Brain{
    max-width: 1600px;
    margin: 100px auto 100px auto;
}
.Second-Brain-container{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 60px;
}
.Second-Brain-content #text-1{
font-size: 16px;
font-weight: 500;
text-transform: uppercase;
color: rgba(70, 145, 101, 1);

}
.Second-Brain-content h1{
    color:rgba(0, 25, 49, 1) ;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 16px 0;
}
.Second-Brain-content #text-2{
font-size: 16px;
font-weight: 400;
color: rgba(98, 115, 130, 1);
padding-bottom: 40px;
}

#Second-Brain-ul li{
    list-style: none;
padding-bottom: 16px;
}
.fa-solid {
color: rgb(48, 184, 104, 1);
font-size: 16px;
}


/* #Early-Access{
    margin-bottom: 100px;
} */
.Early-Access-container{
    max-width: 1600px;
    margin: 100px auto;
    text-align: center;
    border-radius: 12px;
    background-color:rgba(247, 246, 242, 1) ;
    padding: 80px 40px;
    
}
.Early-Access-container h1{
    font-size: 40px;
    font-weight: 700;
}
.Early-Access-container p{
    font-size: 16px;
    font-weight: 400;
    padding: 24px 0;
}






footer{
    background-color: rgba(0, 25, 49, 1);
    padding: 120px 120px 30px 120px;
    color: #ffffff;
    text-align: center;

}
.footer-div1{
    display: flex;
    justify-content: space-between;
    padding-bottom:80px ;
    
}
.footer-div2 p{
    font-size: 16px;
    font-weight: 400;
}
.fa-brands{
    font-size: 25px;
    padding-top: 16px;
}

